@using Blogr.Shared;
@inject NavigationManager NavMan;
<button @onclick="() => GotoBlog(Blog.Id)" class="w-30 m-2" style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">
    <div class="container w-100 m-2 p-2 bg-primary rounded">
        <div class="row">
            <div class="col-md-auto align-self-center">
                <img class="rounded-circle" src="@Blog.CreatorImgPath" />
            </div>
            <div class="col align-self-center">
                <h1 class="text-center text-truncate">@Blog.Title</h1>
            </div>
        </div>
        <div class="row align-items-center p-2">
            <div class="col-md-auto">
                <p class="text-center text-truncate mb-0">@Blog.CreatorFirstName @Blog.CreatorLastName</p>
            </div>
            <div class="col">
                <p class="text-center text-truncate mb-0">@Blog.UpdatedDate.ToShortDateString()</p>
            </div>
        </div>
    </div>
</button>

@code{
    [Parameter]
    public required BlogDisplay Blog { get; set; }

    private void GotoBlog(int blogId)
    {
        NavMan.NavigateTo("/viewblog/" + blogId);
    }
}