@page "/CreateBlog"
@using System.Net.Http.Headers
@using Blogr.Server.Models;
@using Blogr.Shared;
@using Newtonsoft.Json;
@using System.Text;
@inject HttpClient Http;

<PageTitle>CreateBlog</PageTitle>

<div>
    <h1>Create Blog Post</h1>
    <h4>Upload .docx file</h4>
    @*Input text and post it and the file to the server*@
    <InputText @bind-Value="blogTitle"></InputText>
    <select @bind="blogCategory">
        <option disabled selected value> -- select an option -- </option>
        <option value="Software Engineering">Software Engineering</option>
        <option value="Data Science"> Data Science</option>
        <option value="Web Development">Web Development</option>
        <option value="Machine Learning">Machine Learning</option>
        <option value="Cybersecurity">Cybersecurity</option>
        <option value="Software Architecture">Software Architecture</option>
        <option value="Databases">Databases</option>
    </select>
    <InputFile OnChange="@OnInputFileChange" />
    <button type="submit" disabled="@SubmitDisabled" onclick="@UploadBlog">Create Post</button>
    @if (fileNames.Count > 0)
    {
        <p>File: @fileNames[0]</p>
    }
    @if(StatusMessage != null)
    {
        <p>@StatusMessage</p>
    }
   
</div>


@code {

    string StatusMessage { get; set; }

    bool SubmitDisabled = false;

    private string blogTitle { get; set; }
    private string blogCategory { get; set; }
    private int maxAllowedFiles = 1;
    private long maxFileSize = 1048576 * 1; //1Mb max file size
    private List<string> fileNames = new();
    private List<UploadResult> uploadResults = new();
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        using var content = new MultipartFormDataContent();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            var fileContent = new StreamContent(file.OpenReadStream(maxFileSize)); 
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            fileNames.Add(file.Name);

            content.Add(content: fileContent, name: "\"files\"", fileName: file.Name);
        }

        var response = await Http.PostAsync("api/File", content);
        var newUploadResults = await response.Content.ReadFromJsonAsync<List<UploadResult>>();

        if (newUploadResults is not null)
        {
            uploadResults = uploadResults.Concat(newUploadResults).ToList();
        }
        else
        {
            StatusMessage = "File not found.";
        }
    }

    private string? GetStoredFileName(string fileName)
    {
        var uploadResult = uploadResults.SingleOrDefault(f => f.FileName == fileName);
        if (uploadResult is not null)
            return uploadResult.StoredFileName;

        StatusMessage = "File not found.";
        return "File not found.";
    }

    private async Task<string> UploadBlog()
    {
        if (blogTitle != null && !string.IsNullOrWhiteSpace(blogTitle))
        {
            if (blogCategory != null)
            {
                var values = new Dictionary<string, string>
            {
                { "Title", blogTitle },
                { "Category", blogCategory },
                { "ContentPath",  GetStoredFileName(fileNames[0])},
            };
                var stringPayload = JsonConvert.SerializeObject(values);
                var content = new StringContent(stringPayload, Encoding.UTF8, "application/json");
                var response = await Http.PostAsync("api/BlogUpload", content);

                if (response.IsSuccessStatusCode)
                {
                    StatusMessage = "File Uploaded Successfully.";
                    SubmitDisabled = true;
                    return "Uploaded";
                    //Add confirmation to user
                }
                else
                {
                    StatusMessage = "File not found.";
                    return "Failed to upload" + response.StatusCode;
                }
            }
            else
            {
                StatusMessage = "Please add a category";
                return "Failed to upload";
            }
        }
        else
        {
            StatusMessage = "Please add a title";
            return "Failed to upload";
        }

    }
}
