@page "/UserBlogs"
@using Blogr.Shared;
@using Microsoft.Office.Interop.Word;
@inject HttpClient Http;
@inject NavigationManager navMan;

<h3>UserBlogs</h3>

<ul>
    @foreach (var blog in blogsList)
    {
        <h4>@blog.Title</h4>
        <p>@blog.CreatorFirstName</p>
        <p>@blog.CreatorLastName</p>
        <img id="User-Photo" src="@blog.CreatorImgPath" />
        <p>Created: @blog.CreationDate.ToShortDateString()</p>
        <p>Last Updated: @blog.UpdatedDate.ToShortDateString()</p>
        <button @onclick="() => EditPost(blog)">Edit Post</button>
        <button @onclick="() => DeletePost(blog)">Delete Post</button>
        <object data="@blog.ContentPath" type="application/pdf" width="100%" height="500px">
            <p>Unable to display PDF file. <a href="@blog.ContentPath">Download</a> instead.</p>
        </object>
    } 
</ul>

@code {

    List<BlogDisplay> blogsList = new List<BlogDisplay>();

    protected override async Task<string> OnInitializedAsync()
    {
        blogsList = await Http.GetFromJsonAsync<List<BlogDisplay>>("api/GetBlogByCurrentUser");
        return "";
    }

    private EventCallback EditPost(BlogDisplay Blog)
    {
        navMan.NavigateTo("/EditBlog/" + Blog.Id);
        return EventCallback.Empty;
    }

    private EventCallback DeletePost(BlogDisplay Blog)
    {

        return EventCallback.Empty;
    }
}
